// auto inlcluded from webpack setup
//@import './_colors.less';
//@import './_variables.less';


@import './basscss.min.css';
@import './normalize.css';
@import './typography.less';

html, body {
  box-sizing: border-box;
  height: 100%;
  background: @bgblack;
}
*, *:before, *:after {
  box-sizing: border-box;
}

ul.unstyled {
  .unstyled-list();
}

.pad {
  padding: 15px;
}
.pad-x {
  padding-left: 15px;
  padding-right: 15px;
}
.pad-y {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sending {
  animation-name: pulse;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  opacity: 1 !important;
  display: inline-block;
}

@keyframes pulse {
  from { transform: scale(1.4); }
  50% { transform: scale(1.2); }
  to { transform: scale(1.4); }
}

.bg-circles {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjZmZmJyAvPgogIDxjaXJjbGUgY3g9IjEiIGN5PSIxIiByPSIxIiBmaWxsPSIjMDAwIi8+Cjwvc3ZnPg==");
  background-repeat: repeat;
}

.bg-pattern {
  background-color: #1f1f1f;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.08'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.border-none {
  border: none !important;
}

.border-left {
  border-left: 1px solid @bordercolor;
}


ul.inline {
  list-style: none;

  li {
    display: inline;
    margin-right: 3em;
    &:last-child {
      margin-right: 0;
    }

    a {
      padding-bottom: 0.25em;
      &.active, &:hover {
        border-bottom: 1px solid #50E3C2;
      }
    }
  }
}
