// auto inlcluded from webpack setup
//@import './_colors.less';
//@import './_variables.less';


@import './normalize.css';
@import './typography.less';

html, body {
  box-sizing: border-box;
  height: 100%;
  background: @black;
}
*, *:before, *:after {
  box-sizing: border-box;
}

ul.unstyled {
  .unstyled-list();
}

.pad {
  padding: 15px;
}
.pad-x {
  padding-left: 15px;
  padding-right: 15px;
}
.pad-y {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sending {
  animation-name: pulse;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  opacity: 1 !important;
  display: inline-block;
}

@keyframes pulse {
  from { transform: scale(1.4); }
  50% { transform: scale(1.2); }
  to { transform: scale(1.4); }
}
